<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<header th:fragment="header">
    <div class="container">
        <!-- 로고 -->
        <div class="title">
            <span class="title-logo">Billa</span>
        </div>

        <!-- 네비게이션 메뉴 -->
        <div class="nav-bar">
            <span class="nav-items">커뮤니티</span>
            <span class="nav-items">커뮤니티</span>
            <span class="nav-items">커뮤니티</span>
            <span class="nav-items">커뮤니티</span>
        </div>
    </div>
</header>
</html>